@model IEnumerable<MagicVilla_Web.Dto.VillaDto>
<style>
    .my-card {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); /* base shadow */
    }

    .my-card:hover {
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); /* stronger shadow */
        transform: translateY(-2px); /* optional: slight lift effect */
    }

    .btn:focus,
    .btn:active:focus,
    .btn.active:focus {
        outline: none !important;
        box-shadow: none !important;
    }
    .form-control,
    .form-control:focus,
    .form-control.active:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    
</style>
<div class="container py-4">
    <div class="row mb-4">
        <div class="row">
            <div class="dropdown">
                <button class="btn btn-close-white dropdown-toggle" style="border-color:darkgray;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Rate</a></li>
                    <li><a class="dropdown-item" href="#">Space</a></li>
                    <li><a class="dropdown-item" href="#">Occupancy</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="input-group mt-3 col-8">
                <span class="input-group-text" id="basic-addon1"> villa name </span>
                <input type="text" class="form-control" placeholder="type your villa" aria-label="villa" aria-describedby="basic-addon1">
            </div>
        </div>
        
    </div>
    <div class="row g-4">
        @if(Model.Count() > 0)
        {
            @foreach (var v in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 my-card" style="cursor:pointer;">
                        <img src="~/Images/@v.ImageUrl" class="card-img-top" alt="Image 1" style="height:250px;">
                        <div class="card-body">
                            <h5 class="card-title">@v.Name</h5>
                            <p class="card-text">@v.Details</p>
                            <div style="display:flex;justify-content:space-around">
                                <span class="card-text" style="color:green;">Rate : @v.Rate</span>
                                <span class="card-text" style="color:lightslategrey;">Occupancy : @v.Occupancy</span>
                            </div>

                        </div>
                        <div class="crd-footer" style="
                                                display: flex;
                                                justify-content: space-around;
                                                align-items: center;
                                                padding: 5;
                                                padding: 5%;
                
                                         ">
                            <a asp-action="VillaPreview" asp-controller="Villa" class="btn btn-success" style="width:70%">
                                View
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="h-100 text-bg-primary">No More Villas</div>
        }
        @{
            int currPage = Convert.ToInt32(TempData["PageNo"]);
            int prev = currPage - 1;
            int next = currPage + 1;
        }
        <div style="display:flex; justify-content:center; column-gap:1%;">
            @if (Model.Count() > 0)
            {
                if (currPage > 0)
                {
                    <a asp-action="BrowsVilla" asp-controller="Villa" asp-route-currPage="@prev" class="btn btn-info">prev</a>
                }
                <a asp-action="BrowsVilla" asp-controller="Villa" asp-route-currPage="@next" class="btn btn-info">next</a>
            }
            else
            {
                <a asp-action="BrowsVilla" asp-controller="Villa" asp-route-currPage="0" class="btn btn-info">Re-view Villas</a>
            }
        </div>
    </div>
</div>