@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@model MagicVilla_Web.Dto.VillaPreviewDto
<div class="container mt-2 p-4">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Available Appointments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" id="available-appt">
                    @{int cnt = 0;}
                    @foreach(var app in Model.Appointments)
                    {
                        
                        // this mean that this appointment did not requested with this client 
                        if(app.RequestedAppointments == null || app.RequestedAppointments.Count() == 0)
                        {
                            <div class="col-12 btn btn-outline-secondary mb-2 fs-4 appt-btn" date-value="@app.Date" date-id="@app.Id">@app.Date</div>
                            cnt++;
                        }

                    }
                    @if(cnt == 0)
                    {
                        <h2>No Available Appointments</h2>
                    }
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" id="requests-rollback">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="commit-ask" disabled>Ask</button>
                </div>

            </div>
        </div>
    </div>
    <h1 class="mb-4 fw-bold">Villa Photos </h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/v1.jpg" class="d-block w-100" alt="..." style="width:1300px;height:600px;">
            </div>
            <div class="carousel-item">
                <img src="~/Images/v2.jpg" class="d-block w-100" alt="..." style="width:1300px;height:600px;">
            </div>
            <div class="carousel-item">
                <img src="~/Images/v3.jpg" class="d-block w-100" alt="..." style="width:1300px;height:600px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container my-5">
        <div class="row g-4">
            <!-- User Requested Appointment If Found -->
            <div class="col-md-5" id="requested-container">
                @foreach(var app in Model.Appointments)
                {
                    if (app.RequestedAppointments == null) continue;
                    foreach(var req in app.RequestedAppointments)
                    {

                        if(req.IsTaken == 0)
                        {
                            <div class="col-10 btn text-light mb-2 fs-4" style="background-color:#3498db;">
                                @app.Date <span>In Queue</span>
                            </div>
                        }
                        else if (req.IsTaken == req.ClientId)
                        {
                            <div class="col-10 btn btn-success mb-2 fs-4">@app.Date <span>Got It</span></div>
                        }
                        else
                        {
                            <div class="col-10 btn btn-danger mb-2 fs-4">@app.Date <span>Taken</span></div>
                        }
                    }
                }
            </div>
            <!-- Villa Details -->
            <div class="col-md-7">
                <h2 class="fw-bold">@Model.Name</h2>
                <p class="text-muted">Address: @Model.Address</p>
                <p>
                    @Model.Details
                </p>
                <h4 class="text-success mb-3">$@Model.Price</h4>              
                <div class="d-flex gap-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="appt-opener">Ask for appointment</button>
                    <button class="btn btn-outline-secondary">Add to Wishlist</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    window.appData = {
        ClientId : @TempData["ClientId"]?.ToString(),
        AppointmentsCnt : @cnt.ToString()
    };
</script>
<script src="~/js/handleAppointmentRequests.js"></script>